// icon
@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.ttf') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .mixin-icon;
}

.icon-user:before {
  content: "\e612";
}

.icon-cunchu:before {
  content: "\e61b";
}

.icon-faxian:before {
  content: "\e61c";
}

.icon-naozhong:before {
  content: "\e61d";
}